* {
  font-family: 'Raleway', sans-serif;
}

.form-expense-div {
  text-align: center;
  margin-top: 50px;
}

label {
  color: #243754;
  font-size: 18px;
  display: block;
}

input {
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.082);
  background-color: #2437542f;
  width: 250px;
  height: 40px;
  border-style: hidden;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0 5px;
}

input.error {
  background-color: #c70a0a2f;
}

.error-message-container {
  height: 20px;
}

.error-message-container p {
  color: red;
  font-size: 14px;
}

button {
  border-radius: 1rem;
  color: #1f1d08;
  perspective: 300px;
  box-shadow: 15px 22px 45px rgba(0, 0, 0, 0.055);
  width: 150px;
  height: 45px;
  background-color: #94ae3f;
  border-style: hidden;
  border-radius: 5px;
  font-size: 19px;
  margin-top: 10px;
  margin-bottom: 20px;
}

button:hover {
  cursor: pointer;
}
