.form-expense-div {
  text-align: center;
  margin-top: 50px;
}
.text-expense-first-name,
.text-expense-last-name,
.email-expense-username,
.text-expense-username,
.password-expense-username,
.confirm-password-expense-username {
  color: #f3f9ea;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}
.input-first-name,
.input-last-name,
.input-expense-email,
.input-expense-username,
.input-expense-password,
.input-confirm-password-expense-username {
  background-color: #f3f9ea23;
  width: 250px;
  height: 40px;
  border-style: hidden;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.button-register {
  border-radius: 1rem;
  color: #ebf5da;
  perspective: 300px;
  box-shadow: 15px 22px 45px rgba(0, 0, 0, 0.3);
  width: 150px;
  height: 45px;
  background-color: #9ac53db8;
  border-style: hidden;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}
