.form-div {
  text-align: center;
  margin-top: 200px;
}
.text-username {
  color: #101321;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.input-username,
.input-password {
  background-color: #2437542f;
  width: 250px;
  height: 40px;
  border-style: hidden;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 15px 20px 35px rgba(0, 0, 0, 0.055);
}
.input-username:focus,
.input-password:focus {
  border: 1px solid #1013214b;
  padding: 15px;
}
.input-username:after {
  text-decoration: none;
}
.text-password {
  color: #101321;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.input-button {
  border-radius: 1rem;
  color: #101321;
  perspective: 300px;
  box-shadow: 15px 22px 45px rgba(0, 0, 0, 0.3);
  width: 150px;
  height: 60px;
  background-color: #94ae3f;
  border-style: hidden;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
  margin-top: 10px;
  margin-bottom: 20px;
}

input:focus {
  outline: none;
}

.error-message {
  color: #ff0000;
}
