.form-firstPage {
  margin-top: 200px;
  text-align: center;
}

.button-signin-page,
.button-guest-account,
.button-register-page {
  color: #101321;
  border-radius: 1rem;
  perspective: 300px;
  box-shadow: 15px 19px 45px rgba(0, 0, 0, 0.166);
  width: 250px;
  height: 60px;
  background-color: #94ae3f;
  border-style: hidden;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.button-register-page {
  background-color: #2437543f;
}
.or-firstPage {
  color: #ebf5da;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bolder;
}
.button-guest-account {
  margin-top: 200px;
  background-color: #2437543f;
}
