.form-firstPage {
  margin-top: 200px;
  text-align: center;
}

.button-register-page {
  border-radius: 1rem;
  color: #ebf5da;
  perspective: 300px;
  box-shadow: 15px 22px 45px rgba(0, 0, 0, 0.3);
  width: 250px;
  height: 60px;
  background-color: rgba(192, 192, 192, 0.062);
  border-style: hidden;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.button-signin-page {
  color: #ebf5da;
  border-radius: 1rem;
  perspective: 300px;
  box-shadow: 15px 22px 45px rgba(0, 0, 0, 0.3);
  width: 250px;
  height: 60px;
  background-color: rgba(192, 192, 192, 0.062);
  border-style: hidden;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.or-firstPage {
  color: #ebf5da;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
