.header-div-text {
  text-align: center;
  justify-content: center;
  color: #94ae3f;
  font-family: 'Exo 2', sans-serif;
  font-size: 33px;
}

@media screen and (max-width: 768px) {
  .header-div-text {
    font-size: 23px;
  }
}
