.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 19px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #96cb40;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 3.5px;
  background-color: #ebf5dac9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #fa112e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #283f00;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/*  --------- Rounded sliders --------- */
.slider.round {
  border-radius: 34px;
  border: hidden;
}

.slider.round:before {
  border-radius: 50%;
  border: hidden;
}
