/*     ---------------------------------------------------------------      */
/*                                Whole body div                            */
/*     ---------------------------------------------------------------      */
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.home-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-left: 100px;
}
@media screen and (max-width: 768px) {
  .home-div {
    margin-left: 50px;
  }
}
.name-introduction {
  margin: 20px 0 20px 140px;
}
@media screen and (max-width: 1020px) {
  .name-introduction {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .name-introduction {
    margin-left: 70px;
  }
} */
/*     ---------------------------------------------------------------      */
/*                                Your Balance                              */
/*     ---------------------------------------------------------------      */
/* .div-balance {
  order: 0;
  height: 200px;
  width: 350px;
  justify-content: center;
  border-radius: 1rem;
  perspective: 300px;
  box-shadow: 10px 20px 35px rgba(0, 0, 0, 0.11);
  background-color: #24375410;
}
@media screen and (max-width: 425px) {
  .div-balance {
    height: 200px;
    width: 280px;
  }
} */

/* backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
  transform: perspective(800px) rotateY(1deg) scale(0.8) rotateX(1deg);
  filter: blur(0.1px);
  opacity: 0.7;
  transition: 0.6s ease all;
}
.div-balance:hover {
  transform: perspective(800px) rotateY(-1deg) translateY(-50px) rotateX(1deg)
    scale(1);
  filter: blur(0);
  opacity: 1;
} */

/*    -------------- The div mobile version ------------   */

/* @media screen and (min-width: 1605px) {
  .home-div {
    margin-left: 200px;
    margin-right: 30px;
  }
} */

/* .div-text {
  text-align: center;
  color: #243754;
  font-family: 'Karla', sans-serif;
  font-size: 25px;
  margin-bottom: 4px;
  margin-top: 30px;
}

.balance-amount-money {
  text-align: center;
  color: #1f1d08;
  font-family: 'Karla', sans-serif;
  font-size: 30px;
  margin-top: 10px;
} */

/*     ---------------------------------------------------------------      */
/*                             Income and Expenses                          */
/*     ---------------------------------------------------------------      */
/* .income-expense-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.income-text {
  color: #243754;
  font-family: 'Karla', sans-serif;
  font-size: 22px;
  margin-left: 20px;
  margin-right: 20px;
}

.income-amount {
  text-align: center;
  margin-top: 10px;
  color: rgb(37, 176, 9);
  font-family: 'Karla', sans-serif;
  font-size: 22px;
}

.expense-text {
  color: #243754;
  font-family: 'Karla', sans-serif;
  font-size: 22px;
  margin-left: 20px;
  margin-right: 20px;
}

.expense-amount {
  text-align: center;
  margin-top: 10px;
  color: rgba(184, 4, 4, 0.94);
  font-family: 'Karla', sans-serif;
  font-size: 22px;
} */

/*     ---------------------------------------------------------------      */
/*                              Add Transaction                             */
/*     ---------------------------------------------------------------      */

/* .div-add-new-transaction {
  background-color: #24375410;
  order: 1;
  border-radius: 1rem;
  margin: 60px 40px 0 20px;
  height: 350px;
  width: 250px;
  padding-top: 30px;
  padding-bottom: 30px;
  transform-style: preserve-3d;
  perspective: 300px;
  box-shadow: 10px 20px 35px rgba(0, 0, 0, 0.11); */
/* backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
  transform: perspective(400px) rotateY(1deg) scale(0.8) rotateX(1deg);
  filter: blur(0.1px);
  opacity: 0.7;
  transition: 0.6s ease all; */
/* }
@media screen and (max-width: 720px) {
  .div-add-new-transaction {
    margin-left: 50px;
  }
} */
/* .div-add-new-transaction:hover {
  transform: perspective(800px) rotateY(-1deg) translateY(-50px) rotateX(1deg)
    scale(1);
  backdrop-filter: blur(0px);
  opacity: 100%;
} */
/* @media screen and (min-width: 1605px) {
  .div-add-new-transaction {
    margin-right: 400px;
    margin-left: 100px;
  }
} */

/* .text-add-new-transaction {
  text-align: center;
  color: #243754;
  font-family: 'Karla', sans-serif;
  font-size: 23px;
}
.p-add-new-transaction {
  text-align: center;
  color: #243754;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 5px;
}
.amount-add-new-transaction {
  text-align: center;
  color: #243754;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.textInput {
  margin-left: 20px;
  width: 200px;
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
  color: #243754;
  height: 30px;
  border-style: hidden;
  border-radius: 6px;
  background-color: #2437542f;
  text-align: center;
}

.amount {
  width: 60%;
  height: 30px;
  border-style: none;
  background-color: #243754;
} */

/* --------- Button add-transaction --------- */
/* .button-add-transaction {
  margin-top: 10px;
  margin-bottom: 80px;
  margin-left: 65px;
  width: 120px;
  height: 30px;
  background-color: #2437542f;
  border-style: hidden;
  border-radius: 10px;
  color: #243754;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: bolder;
} */

/*     ---------------------------------------------------------------      */
/*                               SWITCH BUTTON                              */
/*     ---------------------------------------------------------------      */
/* .switch-div {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 19px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #96cb40;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 3.5px;
  background-color: #ebf5dac9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #fa112e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #283f00;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
} */

/*  --------- Rounded sliders --------- */
/* .slider.round {
  border-radius: 34px;
  border: hidden;
}

.slider.round:before {
  border-radius: 50%;
  border: hidden;
} */
/* --------- Text around the switch button --------- */
/* .switch-text {
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  color: #243754;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.input-amount {
  margin-top: 10px;
  margin-left: 0;
  margin-right: 10px;
  background-color: #2437542f;
  box-shadow: 10px 16px 45px #2437542f;
} */

/*     ---------------------------------------------------------------      */
/*                                   History                                */
/*     ---------------------------------------------------------------      */
/* .history-div {
  order: 2;
  margin-left: 300px;
  margin-right: 300px;
  align-self: flex-end;
  margin-top: 100px;
}

.text-history {
  text-align: center;
  color: #243754;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  margin-bottom: 15px;
} */

/*      ------------------ The div in the HISTORY ------------------      */
/* 
.fist-history-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #2437542f;
  margin-bottom: 10px;
  width: 400px;
  height: 65px;
  border: hidden 1px;
  border-radius: 9px;
  background-color: #24375410;
  box-shadow: 10px 3px 10px rgba(0, 0, 0, 0.075);
}

.history-div {
  margin-bottom: 30px;
}
.transaction-title {
  margin-left: 10px;
  font-size: 20px;
  color: #243754;
  font-family: 'Raleway', sans-serif;
  flex-grow: 14;
}
.transaction-amount {
  margin-right: 10px;
  font-size: 23px;
  color: #0f1c2e;
  font-family: 'Raleway', sans-serif;
}
.dolar {
  font-size: 12px;
}
.arrow {
  font-size: 15px;
}
.bin {
  background-color: #94ae3f00;
  font-size: 13px;
  height: 40px;
  width: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 25px;
}

.bin-icons {
  color: #d81717;
}

.home-spinner-container {
  display: flex;
  align-items: center;
  height: 70vh;
  justify-content: center;
} */
