/* HEADER DIV TEXT */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: hidden;
  border-radius: 6px;
}

.header-div-text {
  text-align: center;
  justify-content: center;
  color: #94ae3f;
  font-family: 'Exo 2', sans-serif;
  font-size: 33px;
}

@media screen and (max-width: 768px) {
  .header-div-text {
    font-size: 23px;
  }
}

.icon {
  margin-left: 2rem;
  font-size: 2rem;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* @media screen and (max-width: 768px) {
  .icon:hover {
  
  }
} */
.slider-nav-bar {
  background: #94ae3f;
  width: 150px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  transition: 550ms;
}
@media screen and (max-width: 768px) {
  .slider-nav-bar {
    width: 50px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

@media screen and (max-width: 768px) {
  .item-title {
    display: none;
  }
}

.sideBar-link {
  display: flex;
  color: #ebebeb;

  align-items: center;
  padding: 20px;
  list-style: none;
  height: 60px;
  text-decoration: none;
  font-size: 18px;
}
.sideBar-link:hover {
  background: #d9dfc73a;
  border-left: 4px solid #d9dfc74f;
  cursor: pointer;
}

.sideBar-label {
  margin-left: 16px;
}
.dropdown-link {
  background: #414757;
  height: 60px;
  padding-left: 3rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ebebeb;
  font-size: 18px;
}

.dropdown-link:hover {
  background: #94ae3f;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}
