.app-div {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100vh;
}
footer {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: row;
  bottom: 0;
  width: 100%;
  height: 2rem;
  background-color: #94ae3f9a;
}
.footer-paragraph {
  color: #ffffff;
  font-size: 12px;
  margin-top: 0.5rem;
}
